.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 7px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition-duration: 0.6s;
}
.btn-1 {
  background: #fc997c;
  color: #fff;
  border: 2px solid #fc997c;
}
.btn-1-outline {
  background: #fff;
  color: #fc997c;
  border: 2px solid #fc997c;
}
.btn-1-outline:hover {
  background: #fc997c;
  color: #fff;
  border: 2px solid #fc997c;
}
.btn-2 {
  background: #2e4c6d;
  color: #fff;
  border: 2px solid #2e4c6d;
}

.btn-2-outline {
  background: #fff;
  color: #2e4c6d;
  border: 2px solid #2e4c6d;
}
.btn-2-outline:hover {
  background: #2e4c6d;
  color: #fff;
  border: 2px solid #2e4c6d;
}
.btn-1:hover {
  background: #fff;
  color: #fc997c;
  border: 2px solid #fc997c;
}

.btn-2:hover {
  background: #fff;
  color: #2e4c6d;
  border: 2px solid #2e4c6d;
}
